@font-face {
  font-family: 'Coloplast Italic';
  font-style: normal;
  src: url(/html/font/Coloplast-BoldItalic.eot), url(/html/font/Coloplast-BoldItalic.woff) format("woff"), url(/html/font/Coloplast-BoldItalic.otf) format("opentype");
}
@font-face {
  font-family: 'ColoplastMedium';
  font-style: normal;
  src: url(/html/font/ColoplastMedium.eot), url(/html/font/ColoplastMedium.woff) format("woff"), url(/html/font/ColoplastMedium.otf) format("opentype");
}
@font-face {
  font-family: 'Coloplast Italic';
  font-style: normal;
  src: url(/html/font/Coloplast-Italic.eot), url(/html/font/Coloplast-Italic.woff) format("woff"), url(/html/font/Coloplast-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'ColoplastMedium Italic';
  font-style: normal;
  src: url(/html/font/ColoplastMedium-Italic.eot), url(/html/font/ColoplastMedium-Italic.woff) format("woff"), url(/html/font/ColoplastMedium-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'Coloplast';
  font-style: normal;
  src: url(/html/font/Coloplast.eot), url(/html/font/Coloplast.woff) format("woff"), url(/html/font/Coloplast.otf) format("opentype");
}
@font-face {
  font-family: 'Coloplast Bold';
  font-style: normal;
  src: url(/html/font/Coloplast-Bold.eot), url(/html/font/Coloplast-Bold.woff) format("woff"), url(/html/font/Coloplast-Bold.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 300;
  src: url(/html/font/Arita-dotum-Thin.eot), url(/html/font/Arita-dotum-Thin.woff) format("woff"), url(/html/font/Arita-dotum-Thin.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 400;
  src: url(/html/font/Arita-dotum-Light.eot), url(/html/font/Arita-dotum-Light.woff) format("woff"), url(/html/font/Arita-dotum-Light.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 500;
  src: url(/html/font/Arita-dotum-Medium.eot), url(/html/font/Arita-dotum-Medium.woff) format("woff"), url(/html/font/Arita-dotum-Medium.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 600;
  src: url(/html/font/Arita-dotum-SemiBold.eot), url(/html/font/Arita-dotum-SemiBold.woff) format("woff"), url(/html/font/Arita-dotum-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 700;
  src: url(/html/font/Arita-dotum-Bold.eot), url(/html/font/Arita-dotum-Bold.woff) format("woff"), url(/html/font/Arita-dotum-Bold.otf) format("opentype");
}
@font-face {
  font-family: 'InkLipquid';
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
}
/* line 1, ../sass/Base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1em;
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
/* line 21, ../sass/Base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, ../sass/Base/_reset.scss */
img {
  max-width: 100%;
}

/* line 28, ../sass/Base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../sass/Base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/Base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../sass/Base/_reset.scss */
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  min-width: 100%;
}

/* line 46, ../sass/Base/_reset.scss */
tr, th, td {
  vertical-align: middle;
}

/* line 49, ../sass/Base/_reset.scss */
a, a:active, a:visited, a:hover {
  text-decoration: none;
}

/* line 53, ../sass/Base/_reset.scss */
html, body {
  font-size: 16px;
  font-family: 'Arita', sans-serif;
  font-weight: 400;
}

/* line 59, ../sass/Base/_reset.scss */
.wrapper {
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 65, ../sass/Base/_reset.scss */
.wrap {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  padding: 0 .5em;
}

/* line 72, ../sass/Base/_reset.scss */
.wrap:after {
  content: '';
  display: block;
  clear: both;
}

/* line 77, ../sass/Base/_reset.scss */
.float-left {
  float: left;
}

/* line 80, ../sass/Base/_reset.scss */
.float-right {
  float: right;
}

/* line 83, ../sass/Base/_reset.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 88, ../sass/Base/_reset.scss */
.blind {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* line 97, ../sass/Base/_reset.scss */
.text-center {
  text-align: center;
}

/* line 100, ../sass/Base/_reset.scss */
.text-left {
  text-align: left;
}

/* line 103, ../sass/Base/_reset.scss */
.text-right {
  text-align: right;
}

/* line 106, ../sass/Base/_reset.scss */
.font--dohyun {
  font-family: 'Do Hyeon', sans-serif;
}

/* line 109, ../sass/Base/_reset.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
/* line 14, ../sass/Base/_form.scss */
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 1rem;
}

/* Remove the stupid outer glow in Webkit */
/* line 32, ../sass/Base/_form.scss */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
/* line 41, ../sass/Base/_form.scss */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
/* line 50, ../sass/Base/_form.scss */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
/* line 86, ../sass/Base/_form.scss */
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
/* line 105, ../sass/Base/_form.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
/* line 112, ../sass/Base/_form.scss */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
/* line 120, ../sass/Base/_form.scss */
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
/* line 131, ../sass/Base/_form.scss */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
/* line 141, ../sass/Base/_form.scss */
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
/* line 153, ../sass/Base/_form.scss */
select {
  appearance: none;
}

/* line 157, ../sass/Base/_form.scss */
select::-ms-expand {
  display: none;
}

/* line 160, ../sass/Base/_form.scss */
select[multiple] {
  vertical-align: top;
}

/* line 165, ../sass/Base/_form.scss */
.input {
  height: 2.5em;
}

/* line 166, ../sass/Base/_form.scss */
.input input {
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 .5em;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #fff;
  font-size: .875rem;
  border-radius: 0;
}

/* line 168, ../sass/Base/_form.scss */
.form__input--add-btn input {
  width: calc(100% - 90px);
  margin-right: 5px;
}

/* line 173, ../sass/Base/_form.scss */
input[disabled] {
  background: #efefef;
}

/* line 176, ../sass/Base/_form.scss */
.checkbox {
  position: relative;
  padding-left: 1.5em;
  font-size: 1rem;
  cursor: pointer;
  font-size: .75rem;
}

/* line 177, ../sass/Base/_form.scss */
.checkbox__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  border: 1px solid #e1e1e1;
  border-radius: .3em;
}

/* line 178, ../sass/Base/_form.scss */
.checkbox__input:checked + .checkbox__icon {
  background: url(/html/images/icon-checkbox.png) #00b0ca no-repeat center;
  background-size: auto .5em;
}

/* line 180, ../sass/Base/_form.scss */
.radio {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

/* line 181, ../sass/Base/_form.scss */
.radio__icon {
  width: .75em;
  height: .75em;
  border: 1px solid #e1e1e1;
  border-radius: .3em;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  position: relative;
  margin-top: .5em;
}

/* line 182, ../sass/Base/_form.scss */
.radio__input:checked + .radio__icon:after {
  content: '';
  display: block;
  width: .5em;
  height: .5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #00b0ca;
  display: inline-block;
  border-radius: 50%;
}

/* line 183, ../sass/Base/_form.scss */
.radio__input:checked + .event__select-item-imgbox {
  border: 2px solid #ff6900;
  box-sizing: border-box;
}

/* line 184, ../sass/Base/_form.scss */
.radio__input:checked + .event__select-item-imgbox + .radio__icon:after {
  content: '';
  display: block;
  width: .5em;
  height: .5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #ff6900;
  display: inline-block;
  border-radius: 50%;
}

/* line 186, ../sass/Base/_form.scss */
.form--form {
  margin-top: 2em;
}

/* line 190, ../sass/Base/_form.scss */
.form__row {
  margin-bottom: .5em;
  padding-left: 6.5em;
  box-sizing: border-box;
  position: relative;
}
/* line 195, ../sass/Base/_form.scss */
.form__row.form__row--width-100 {
  padding: 0;
  width: 100%;
}
/* line 199, ../sass/Base/_form.scss */
.form__row.form__row--margintop {
  margin-top: 2em;
}
/* line 202, ../sass/Base/_form.scss */
.form__row:last-child {
  margin-bottom: 0;
}
/* line 205, ../sass/Base/_form.scss */
.form__row .form__title {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 2.5em;
  font-size: .875rem;
  font-weight: 400;
  white-space: nowrap;
}
/* line 213, ../sass/Base/_form.scss */
.form__row .form__title label {
  font-size: .875rem;
  white-space: nowrap;
}

/* line 1, ../sass/Components/_buttons.scss */
.btn {
  width: 100px;
  line-height: 2.5em;
  font-size: .875rem;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  height: 2.5em;
}
/* line 10, ../sass/Components/_buttons.scss */
.btn--full {
  width: 100%;
}
/* line 13, ../sass/Components/_buttons.scss */
.btn--col2 {
  width: 50%;
}
/* line 17, ../sass/Components/_buttons.scss */
.btn--input {
  width: 85px;
  letter-spacing: -.05em;
}
/* line 22, ../sass/Components/_buttons.scss */
.btn--blue {
  background: #00b0ca;
  color: #fff;
}
/* line 26, ../sass/Components/_buttons.scss */
.btn--gray {
  background: #e0e0e0;
  color: #333;
  border: 1px solid #333;
}
/* line 31, ../sass/Components/_buttons.scss */
.btn--deepgray {
  background: #6f6f6f;
  color: #fff;
}
/* line 35, ../sass/Components/_buttons.scss */
.btn--white {
  background: #efefef;
  color: #333;
}

/* line 1, ../sass/Layout/_header.scss */
.header {
  text-align: center;
  padding: 1em 0 0;
  background: url(/html/images/header-bg.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
}
/* line 7, ../sass/Layout/_header.scss */
.header .header__logo {
  text-align: left;
}
/* line 9, ../sass/Layout/_header.scss */
.header .header__logo img {
  height: 1.5em;
}
/* line 13, ../sass/Layout/_header.scss */
.header .header__title {
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: -.05em;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 1em;
}
/* line 21, ../sass/Layout/_header.scss */
.header .header__point {
  color: #00b0ca;
}
/* line 24, ../sass/Layout/_header.scss */
.header .header__img {
  width: 50%;
  max-width: 300px;
}

/* line 31, ../sass/Layout/_header.scss */
.i2-header {
  padding: 2.5em 0;
  background: url(/html/images/index2-bg.png) #ffe19b no-repeat center 1em;
  background-size: 90% auto;
  text-align: center;
  letter-spacing: -.05em;
}
/* line 37, ../sass/Layout/_header.scss */
.i2-header .header__title-box {
  font-size: 1.5rem;
  color: #00b0ca;
  font-weight: 700;
}
/* line 42, ../sass/Layout/_header.scss */
.i2-header .header__title {
  color: #fff;
  max-width: 250px;
  margin: 0 auto;
  margin-top: .3em;
  font-size: 1rem;
}
/* line 48, ../sass/Layout/_header.scss */
.i2-header .header__title img {
  vertical-align: top;
}
/* line 53, ../sass/Layout/_header.scss */
.i2-header .header__stepbox {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 2em;
}
/* line 58, ../sass/Layout/_header.scss */
.i2-header .header__step-li {
  position: relative;
  padding-left: 6em;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1em;
}
/* line 64, ../sass/Layout/_header.scss */
.i2-header .header__step-li:last-child {
  margin-bottom: 0;
}
/* line 68, ../sass/Layout/_header.scss */
.i2-header .header__step-idx {
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  letter-spacing: -.05em;
}
/* line 77, ../sass/Layout/_header.scss */
.i2-header .header__step-item {
  background: #fff;
  border-radius: 2em;
  padding: .5em 1.5em;
  box-sizing: border-box;
  font-size: .75rem;
  letter-spacing: -.05em;
  line-height: 1.3em;
}
/* line 85, ../sass/Layout/_header.scss */
.i2-header .header__step-item a {
  color: #333;
  vertical-align: top;
}

/* line 1, ../sass/Layout/_popup.scss */
#blackbg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

/* line 11, ../sass/Layout/_popup.scss */
.popup {
  overflow: auto;
  max-height: 95%;
  position: fixed;
  width: 90%;
  max-width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 25;
  padding: 2.5em 1em 1em;
  box-sizing: border-box;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.9);
}
/* line 25, ../sass/Layout/_popup.scss */
.popup .popup__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.5em;
  height: 1.5em;
  text-indent: -9999px;
  background: url(/html/images/btn-close.png) no-repeat center;
  background-size: 100% 100%;
}
/* line 35, ../sass/Layout/_popup.scss */
.popup .popup__header {
  text-align: center;
}
/* line 38, ../sass/Layout/_popup.scss */
.popup .popup__logo-img {
  height: 1.5em;
}
/* line 41, ../sass/Layout/_popup.scss */
.popup .popup__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: .3em;
}
/* line 45, ../sass/Layout/_popup.scss */
.popup .popup__title.popup__title--small {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 0;
}
/* line 52, ../sass/Layout/_popup.scss */
.popup .popup__footer {
  margin-top: 2em;
}

/* line 58, ../sass/Layout/_popup.scss */
.pop-sns {
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 3em;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

/* line 2, ../sass/Pages/_main.scss */
.container .container__info {
  background: #32bed7;
  padding: 2em 0;
}
/* line 6, ../sass/Pages/_main.scss */
.container .container__info-box {
  max-width: 350px;
  margin: 0 auto;
}
/* line 10, ../sass/Pages/_main.scss */
.container .container__info-item {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  padding: .3em 0 .3em 6em;
  line-height: 1.3em;
  margin-bottom: .3em;
}
/* line 17, ../sass/Pages/_main.scss */
.container .container__info-item:last-child {
  margin-bottom: 0;
  padding-left: 0;
}
/* line 22, ../sass/Pages/_main.scss */
.container .container__info-title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: .3em 1.5em;
  font-size: .875rem;
  color: #00b0ca;
  background: #fff;
  border-radius: 2em;
  font-weight: 700;
}
/* line 34, ../sass/Pages/_main.scss */
.container .container__info-title--no-absolute {
  position: static;
  display: inline-block;
  transform: none;
}
/* line 39, ../sass/Pages/_main.scss */
.container .container__coupon-info {
  padding-left: 1.5em;
  box-sizing: border-box;
  margin-top: 1em;
}
/* line 44, ../sass/Pages/_main.scss */
.container .container__coupon-item {
  margin-bottom: 1em;
  letter-spacing: -.05em;
  font-size: 14px;
  line-height: 1.5em;
  padding: 1.75em 0 0 1.5em;
  box-sizing: border-box;
  position: relative;
}
/* line 52, ../sass/Pages/_main.scss */
.container .container__coupon-item:last-child {
  margin-bottom: 0;
}
/* line 56, ../sass/Pages/_main.scss */
.container .container__coupon-item-header {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: .5em;
  font-family: 'InkLipquid';
  font-size: 1.125rem;
}
/* line 64, ../sass/Pages/_main.scss */
.container .container__coupon-item-idx {
  font-family: 'Arita';
  font-size: .875rem;
  color: #ffb500;
  font-weight: 700;
}

/* line 72, ../sass/Pages/_main.scss */
.event {
  background: url(/html/images/middlebg.png) #9be1eb no-repeat left top;
  background-size: 100% auto;
  padding: 3em 0 2em;
}
/* line 76, ../sass/Pages/_main.scss */
.event .event__form {
  max-width: 400px;
  margin: 0 auto;
}
/* line 80, ../sass/Pages/_main.scss */
.event .event__form-inputbox {
  width: 75%;
  margin-right: 3%;
}
/* line 84, ../sass/Pages/_main.scss */
.event .event__form-btnbox {
  width: 22%;
}
/* line 87, ../sass/Pages/_main.scss */
.event .event__form-btn {
  height: 2.5em;
  font-size: .875rem;
  border: 1px solid #000;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
}
/* line 96, ../sass/Pages/_main.scss */
.event .event__happy-box {
  position: relative;
  text-align: center;
}
/* line 100, ../sass/Pages/_main.scss */
.event .event__happy-bg {
  max-width: 500px;
  width: 90%;
  position: relative;
  left: -5px;
}
/* line 106, ../sass/Pages/_main.scss */
.event .event__happy-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
  font-size: .75rem;
  padding: 0 10%;
  box-sizing: border-box;
}
/* line 116, ../sass/Pages/_main.scss */
.event .event__happy-text-title {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -.025em;
  margin-bottom: .3em;
}
/* line 123, ../sass/Pages/_main.scss */
.event .event__selectbox {
  background: #fff;
  padding: 1em;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1em;
}
/* line 132, ../sass/Pages/_main.scss */
.event .event__select-item {
  width: 33.333%;
  padding: 0 .5em;
  box-sizing: border-box;
}
/* line 138, ../sass/Pages/_main.scss */
.event .event__select-info {
  background: #fff;
  padding: .5em 1em 1em;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* line 145, ../sass/Pages/_main.scss */
.event .event__select-info-descbox {
  margin-bottom: 1em;
}
/* line 148, ../sass/Pages/_main.scss */
.event .event__select-info-desc {
  font-size: 12px;
  margin-bottom: .2em;
  line-height: 1.5em;
  letter-spacing: -.05em;
  padding-left: .75em;
  position: relative;
}
/* line 155, ../sass/Pages/_main.scss */
.event .event__select-info-desc:after {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.5em;
  content: '-';
}
/* line 162, ../sass/Pages/_main.scss */
.event .event__select-info-desc:last-child {
  margin-bottom: 0;
}
/* line 167, ../sass/Pages/_main.scss */
.event .event__select-info-table {
  letter-spacing: -.05em;
  text-align: center;
}
/* line 171, ../sass/Pages/_main.scss */
.event .event__select-info-table-th {
  background: #00b0ca;
  color: #fff;
  line-height: 1.5em;
  border: 1px solid #aaa;
  font-size: .875rem;
}
/* line 178, ../sass/Pages/_main.scss */
.event .event__select-info-table-td {
  color: #333;
  line-height: 1.5em;
  border: 1px solid #aaa;
  font-size: .75rem;
  padding: .3em .5em;
  box-sizing: border-box;
}
/* line 185, ../sass/Pages/_main.scss */
.event .event__select-info-table-td label {
  font-size: inherit;
  display: block;
}
/* line 190, ../sass/Pages/_main.scss */
.event .event__select-info-table-col1 {
  width: 65%;
}
/* line 191, ../sass/Pages/_main.scss */
.event .event__select-info-table-col2 {
  width: 35%;
}
/* line 193, ../sass/Pages/_main.scss */
.event .event__btnbox {
  margin-top: 2em;
}

/* line 202, ../sass/Pages/_main.scss */
.i2-container {
  padding: 2.5em 0;
  background: url(/html/images/index2-bg-img.png) #9be1eb no-repeat left top;
  background-size: 100% auto;
  text-align: center;
  letter-spacing: -.05em;
}
/* line 209, ../sass/Pages/_main.scss */
.i2-container .container__title-box {
  font-size: 1.5rem;
  color: #00b0ca;
  font-weight: 700;
}
/* line 214, ../sass/Pages/_main.scss */
.i2-container .container__title {
  color: #fff;
  max-width: 250px;
  margin: 0 auto;
  margin-top: .3em;
  font-size: 1rem;
}
/* line 220, ../sass/Pages/_main.scss */
.i2-container .container__title img {
  vertical-align: top;
}
/* line 224, ../sass/Pages/_main.scss */
.i2-container .container__info {
  margin: 0 auto;
  margin-top: 1.5em;
  max-width: 330px;
}
/* line 230, ../sass/Pages/_main.scss */
.i2-container .container__info-item {
  text-align: left;
  font-size: .875rem;
  padding-left: .5em;
  position: relative;
  box-sizing: border-box;
  margin-bottom: .3em;
  line-height: 1.5em;
  word-break: keep-all;
}
/* line 239, ../sass/Pages/_main.scss */
.i2-container .container__info-item:after {
  content: '';
  display: block;
  width: .1em;
  height: .1em;
  background: #333;
  position: absolute;
  left: 0;
  top: .7em;
}
/* line 251, ../sass/Pages/_main.scss */
.i2-container .container__btnbox {
  width: 95%;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 350px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
}
/* line 257, ../sass/Pages/_main.scss */
.i2-container .container__btnbox .btn {
  font-size: .75rem;
  height: 35px;
  line-height: 35px;
}
/* line 261, ../sass/Pages/_main.scss */
.i2-container .container__btnbox .btn i {
  width: 2em;
  height: 2em;
  background: url(/html/images/icon-arrow.png) #fff no-repeat center;
  background-size: auto 50%;
  display: inline-block;
  border-radius: 50%;
  margin-left: .5em;
}
@media screen and (max-width: 360px) {
  /* line 261, ../sass/Pages/_main.scss */
  .i2-container .container__btnbox .btn i {
    display: none;
  }
}
