.container{
  .container__info{
    background:#32bed7;
    padding:2em 0;
  }
  .container__info-box{
    max-width:350px;
    margin:0 auto;
  }
  .container__info-item{
    position:relative;
    box-sizing:border-box;
    font-size:14px;
    padding:.3em 0 .3em 6em;
    line-height:1.3em;
    margin-bottom:.3em;
    &:last-child{
      margin-bottom:0;
      padding-left:0;
    }
  }
  .container__info-title{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    padding:.3em 1.5em;
    font-size:.875rem;
    color:$blue;
    background:#fff;
    border-radius:2em;
    font-weight:700;
  }
  .container__info-title--no-absolute{
    position:static;
    display:inline-block;
    transform:none;
  }
  .container__coupon-info{
    padding-left:1.5em;
    box-sizing:border-box;
    margin-top:1em;
  }
  .container__coupon-item{
    margin-bottom:1em;
    letter-spacing: -.05em;
    font-size:14px;
    line-height:1.5em;
    padding:1.75em 0 0 1.5em;
    box-sizing:border-box;
    position:relative;
    &:last-child{
      margin-bottom:0;
    }
  }
  .container__coupon-item-header{
    position:absolute;
    left:0;
    top:0;
    margin-bottom:.5em;
    font-family: 'InkLipquid';
    font-size:1.125rem;
  }
  .container__coupon-item-idx{
    font-family: 'Arita';
    font-size:.875rem;
    color:$yello;
    font-weight:700;
  }
}

.event{
  background:url(/html/images/middlebg.png) #9be1eb no-repeat left top;
  background-size:100% auto;
  padding:3em 0 2em;
  .event__form{
    max-width:400px;
    margin:0 auto;
  }
  .event__form-inputbox{
    width:75%;
    margin-right:3%;
  }
  .event__form-btnbox{
    width:22%;
  }
  .event__form-btn{
    height:2.5em;
    font-size:.875rem;
    border:1px solid #000;
    background:#fff;
    box-sizing:border-box;
    width:100%;
  }

  .event__happy-box{
    position:relative;
    text-align:center;
  }
  .event__happy-bg{
    max-width:500px;
    width:90%;
    position:relative;
    left:-5px;
  }
  .event__happy-text{
    position:absolute;
    width:100%;
    left:0;
    top:50%;
    transform:translateY(-30%);
    font-size:.75rem;
    padding:0 10%;
    box-sizing:border-box;
  }
  .event__happy-text-title{
    font-weight:600;
    font-size:1.25rem;
    letter-spacing: -.025em;
    margin-bottom:.3em;
  }

  .event__selectbox{
    background:#fff;
    padding:1em;
    box-sizing:border-box;
    max-width:400px;
    margin:0 auto;
    margin-top:1em;
  }

  .event__select-item{
    width:33.333%;
    padding:0 .5em;
    box-sizing:border-box;
  }

  .event__select-info{
    background:#fff;
    padding:.5em 1em 1em;
    max-width:400px;
    margin:0 auto;
    box-sizing:border-box;
  }
  .event__select-info-descbox{
    margin-bottom:1em;
  }
  .event__select-info-desc{
    font-size:12px;
    margin-bottom:.2em;
    line-height:1.5em;
    letter-spacing:-.05em;
    padding-left:.75em;
    position:relative;
    &:after{
      position:absolute;
      left:0;
      top:0;
      line-height:1.5em;
      content:'-';
    }
    &:last-child{
      margin-bottom:0;
    }
  }

  .event__select-info-table{
    letter-spacing:-.05em;
    text-align:center;
  }
  .event__select-info-table-th{
    background:$blue;
    color:#fff;
    line-height:1.5em;
    border:1px solid #aaa;
    font-size:.875rem;
  }
  .event__select-info-table-td{
    color:#333;
    line-height:1.5em;
    border:1px solid #aaa;
    font-size:.75rem;
    padding:.3em .5em;
    box-sizing:border-box;
    label{
      font-size:inherit;
      display:block;
    }
  }
  .event__select-info-table-col1{width:65%;}
  .event__select-info-table-col2{width:35%;}

  .event__btnbox{
    margin-top:2em;
  }
}





.i2-container {

  padding: 2.5em 0;
  background:url(/html/images/index2-bg-img.png) #9be1eb no-repeat left top;
  background-size:100% auto;
  text-align: center;
  letter-spacing: -.05em;
  .container__title-box {
    font-size: 1.5rem;
    color: $blue;
    font-weight: 700;
  }
  .container__title {
    color: #fff;
    max-width: 250px;
    margin: 0 auto;
    margin-top: .3em;
    font-size: 1rem;
    img {
      vertical-align: top;
    }
  }
  .container__info{
    margin:0 auto;
    margin-top:1.5em;
    max-width:330px;
  }

  .container__info-item{
    text-align:left;
    font-size:.875rem;
    padding-left:.5em;
    position:relative;
    box-sizing:border-box;
    margin-bottom:.3em;
    line-height:1.5em;
    word-break:keep-all;
    &:after{
      content:'';
      display:block;
      width:.1em;
      height:.1em;
      background:#333;
      position:absolute;
      left:0;
      top:.7em;
    }
  }

  .container__btnbox{
    width:95%;
    margin:0 auto;
    margin-top:2em;
    max-width:350px;
    box-shadow:3px 5px 10px rgba(0,0,0,.5);
    .btn{
      font-size:.75rem;
      height:35px;
      line-height:35px;
      i{
        width:2em;
        height:2em;
        background:url(/html/images/icon-arrow.png) #fff no-repeat center;
        background-size:auto 50%;
        display:inline-block;
        border-radius:50%;
        margin-left:.5em;
        @media screen and (max-width:360px) {
          display:none;
        }
      }
    }
  }
}
