@font-face {
  font-family: 'Coloplast Italic';
  font-style: normal;
  src: 
  url(/html/font/Coloplast-BoldItalic.eot),
  url(/html/font/Coloplast-BoldItalic.woff) format('woff'),
  url(/html/font/Coloplast-BoldItalic.otf) format('opentype');
}
@font-face {
  font-family: 'ColoplastMedium';
  font-style: normal;
  src: 
  url(/html/font/ColoplastMedium.eot),
  url(/html/font/ColoplastMedium.woff) format('woff'),
  url(/html/font/ColoplastMedium.otf) format('opentype');
}
@font-face {
  font-family: 'Coloplast Italic';
  font-style: normal;
  src: 
  url(/html/font/Coloplast-Italic.eot),
  url(/html/font/Coloplast-Italic.woff) format('woff'),
  url(/html/font/Coloplast-Italic.otf) format('opentype');
}
@font-face {
  font-family: 'ColoplastMedium Italic';
  font-style: normal;
  src: 
  url(/html/font/ColoplastMedium-Italic.eot),
  url(/html/font/ColoplastMedium-Italic.woff) format('woff'),
  url(/html/font/ColoplastMedium-Italic.otf) format('opentype');
}
@font-face {
  font-family: 'Coloplast';
  font-style: normal;
  src: 
  url(/html/font/Coloplast.eot),
  url(/html/font/Coloplast.woff) format('woff'),
  url(/html/font/Coloplast.otf) format('opentype');
}
@font-face {
  font-family: 'Coloplast Bold';
  font-style: normal;
  src: 
  url(/html/font/Coloplast-Bold.eot),
  url(/html/font/Coloplast-Bold.woff) format('woff'),
  url(/html/font/Coloplast-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 300;
  src:
          url(/html/font/Arita-dotum-Thin.eot),
          url(/html/font/Arita-dotum-Thin.woff) format('woff'),
          url(/html/font/Arita-dotum-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 400;
  src:
          url(/html/font/Arita-dotum-Light.eot),
          url(/html/font/Arita-dotum-Light.woff) format('woff'),
          url(/html/font/Arita-dotum-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 500;
  src:
          url(/html/font/Arita-dotum-Medium.eot),
          url(/html/font/Arita-dotum-Medium.woff) format('woff'),
          url(/html/font/Arita-dotum-Medium.otf) format('opentype');
}


@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 600;
  src:
          url(/html/font/Arita-dotum-SemiBold.eot),
          url(/html/font/Arita-dotum-SemiBold.woff) format('woff'),
          url(/html/font/Arita-dotum-SemiBold.otf) format('opentype');
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 700;
  src:
          url(/html/font/Arita-dotum-Bold.eot),
          url(/html/font/Arita-dotum-Bold.woff) format('woff'),
          url(/html/font/Arita-dotum-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'InkLipquid';
  font-weight: normal;
  font-style: normal;
  src:
          url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');

}
